<div class="anchored card" id="first">
  <div class="card-body">
    <div class="card-title">
      <h3>May, 21st, 20.56: at Sky City, Arlanda, brainstorming</h3>
    </div>
    <div class="card-text">
      <p> Sitting at sky city, trying to come up with a good pick-up-line or some good explanations to get
        adrenalin-high holiday-travellers to catch my point. Here is some brainstorming. </p>
      <ul>
        <li>It's about cracking out of the idea that personal winnings are top priority.</li>
        <li>Resist the almost irresistable attraction of doing what is most conventional</li>
        <li>Challange system faults by making non-conventional choices, to create a better system</li>
        <li>To clearly show our readiness for effort</li>
        <li>Appeal to the POWER BY THE PEOPLE.</li>
        <li>System courage</li>
      </ul>
      <p> Organized some ground service proviging med with a t-shirt with the word "Semesterstrejk" tomorrow. Also got
        rid of the troublesome internetaddress nobispacem.se. Can now use semesterstrejk.se </p>
    </div>
  </div>
  <div class="card-img"> <img src="./assets/img/21_backJumbo.gif"></img>
    <p>Jumbo
      <p />
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h3>May, 21st, 18.54: tired.</h3>
    </div>
    <div class="card-text">
      <p> Could not get a room for several nights at jumbo stay or at radisson sky city. Staying at jumbo tonight, let's
        see where I'll end up tomorrow. I may hang at the airport, but not sleep there. But I should also have an
        errand. I filed an application of permission. </p>
      <p> It is very tiring to get engaged in stuff. Been tired all week, been working til late at night to send some
        informative text to the press. Been sleeping anhour or so at the jumbo room, and soon taking a bus to the
        airport again </p>
    </div>
  </div>
  <div class="card-img"> <img src="./assets/img21_toTerm.gif"></img>
    <p></p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h3>May, 21st, 14.51: Airport Managers</h3>
    </div>
    <div class="card-text">
      <p> Had a nice conversation with two Duty Airport Managers. They had read the information sent by me to
        info@arlanda... </p>
      <p> I got to know (which I had not reflected upon before, but which is totally logic) that the airport is a
        security area all together, so I have to be restrictive on taking photos or shooting videos. </p>
      <p> If I distribute flyers, it has to be outside the buildings. </p>
      <p> I'm actually not even allowed to be at the airport without an errand, such as flying or working. When I asked
        more specifically what counts as an errand, the told me not to try to exploit those definitions, so I
        immediately closed the subject, since it is not my goal to use the conversation for persuasion. </p>
      <p> Since I'm also not allowed to "disturb" travellers or those working, I did not aks them as private people to
        reflect after work, what errand could be a possible errand for me </p>
      <p> The next step will be to use my time for getting a permit to acutllay distribute flyers, so that I don't risk
        getting thrown out if someone gets something wrong. I am positive that it is not essential to have started a
        perfect campaigne exaktly at 13 o'clock today, but that the whole manifesto can be organized during the time my
        strike is on so that it can grow. </p>
    </div>
  </div>
  <div class="card-img"> <img src="./assets/img/21_lockScrn.gif"></img>
    <p> This lockscreen has been following me for a couple of days. Dun know where it is, but it looks kind of
      Icelandic. Salt in my woulds. Pic updated May 25th </p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h3>May, 21st, 13.48: Departure Time!</h3>
    </div>
    <div class="card-text">
      <p> Outside Terminal 5, manually writing my contact information on my flyers, which I forgot prior to printing.
        Sending a thought to my friend who sits on the plane with some other mate. Reactions from friends are so far
        positive (except the one on the plane, she is deeply shaken). Have not yet started to distribute my fliers,
        guess I'll start within an hour. </p>
    </div>
  </div>
  <div class="card-img"> <img src="./assets/img/21_DeptBoard.gif"></img> </div>
</div>