<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h3>May, 22nd, 22.34 applied for permission</h3>
    </div>
    <div class="card-text">
      <p> Har under dagen fortsatt att försöka ansöka om tillstånd för att dela ut flygbladen, utan vidare framgång.
        Förmodligen kommer jag ändå att ha mer framgång med mina flygblad i nära anslutning till flygplatsen, istället
        för framme vid terminalen, dvs jag kommer att planera utdelning utanför diverse hotell vars geografiska läge
        inte är inom skyddszonen. </p>
      <p> Har även blivit aktiv på twitter med taggarna #semesterstrejk och #holidaystrike samt skaffat domänen
        holidaystrike.eu. Har fortsatt att informera diverse instanser om min strejk samt</br><u><b>bett om
            hjälp</b></u></br> med att uttrycka i tydliga ordalag vad jag egetnligen vill åstadkomma. Det är svårt att
        vara begriplig. En sak jag har kommit på är att jag nog måste prata om ansträngningen att göra något först och
        därefter, när man fått mottagaren av budskapet att instämma i att alla måste hjälpa till, DÅ kan jag kläcka
        uppmaningen att markera genom att hoppa över resan. Men det är fortfarande svårt att få fram det på bara någon
        enstaka mening. Need to hire some creative mind at an advertising company to get down my point in a concise
        sentence. </p>
      <p> Fortsätter att arbeta på en engelsk version av informationen på hemsidan, så att man kan följa förloppet
        internationellt också. Jag tror att jag någonstans i världen kan fiska upp folk som håller med mig. Det är inte
        dessa som behöver öva på att stå över, men de kanske kan ge mig vind under vingarna. </p>
    </div>
  </div>
  <div class="card-img"> <img src="./assets/img22_help.gif"></img>
    <p>
      <p />
      <p>Help
        <p />
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h3>May, 22nd, 10.59: discussion with traveller from Canada</h3>
    </div>
    <div class="card-text">
      <p> Har haft ett trevligt samtal med en resenär igår kväll där jag prövade mina vingar. Han var på väg tillbaka
        till Kanada och han hävdade å det bestämdaste att jag inte ville ha hans hemska strumpa. </p>
      <p> Det växer fram mer och mer vad jag egentligen vill med den här aktionen. Det är att folk ska ta mod till sig
        och bryta sig ur egennyttans kontroll över ens handlingar. </p>
      <p> Men det är fortfarande väldigt svårt att formulera det kort och begripligt för folk som får det på sig ur klar
        himmel. Jag är inte fullt redo att börja dela ut mina flygblad i stor skala, men det börjar närma sig. Har även
        fått hälp av en vän med att fixa en t-shirt med min webbadress. Kommer under dagen. </p>
      <p>Har fixat en twitterhashtag #semesterstrejk</p>
      <p> Läser i DagensETC om en <b>global skolstrejk på fredag</b>, och att man hoppas på att få vuxna att vara med
        och strejka den 27/9. Bra så. Men något litet känner jag att en dags strejk är en bra markering men med endast
        lite uppoffring. Svårt att förklara detta, men en 'vanlig' strejk där man alltså låter bli att fullfölja en
        plikt (skola, arbete) är en sak. Blir det tillräckligt många som strejkar från sina jobb så lär väl även
        företagen behöva lyssna så småningom. Men problemet kvarstår en sådan strejk bara visar vad vi VILL, inte vad vi
        är beredda att GE. En strejk där man avstår från ett rent nöje är något annat. Båda varianter behövs definitivt.
        Mera skolstrejk, det är bra! Och, ja, jag är vuxen och jag är gärna med och strejkar! </p>
    </div>
  </div>
  <div class="card-img"> <img src="./assets/img22_toTerm.gif"></img>
    <p>
      <p />
  </div>
</div>