<div class="anchored, card" id="e-tuna">
  <div class="card-body">
    <div class="card-title">
      <h3>May, 23rd, 21.12: Back at E-tuna for a change of clothes</h3>
    </div>
    <div class="card-text">
      <p> Working all day on publicity. No room at the jumbo tonight, it was all booked out. But I have the room booked
        and paid again for tomorrow night. Went home to Eskilstuna by lunch to change clothes and fix some other stuff.
        Tomorrow attending #fridaysforfuture global school strike in Stockholm, hoping to make lots of helpful contacts.
      </p>
      <p> Started to translate from the bottom, intend to get to here soon </p>
    </div>
  </div>
  <div class="card-img"> <img src="./assets/img23_toTerm.gif"></img>
    <p>
      <p />
  </div>
</div>