<div class="anchored, card" id="diary-friday">
  <div class="card-body">
    <div class="card-title">
      <h3>May, 24th 20.32</h3>
    </div>
    <div class="card-text">
      <p> Went to the global school strike with, among others, Greta Thunberg in Stockholm. The demoprocession was
        loooooooong, mark my word. Many adults had also joined. I tried to hand my fliers to folks, first to like
        anyone, but focussing on mediafolks with cameras and microphones. Got a word with SVT, swedish public service
        TV, not on camera, just face to face. Did not deliver to pupils and kids, since I'm not sure at this point
        whether it would be okay. I would need more confirmation from grown-ups before I would suggest to kids to take
        this idea to their parents. It shouldn't be me influencing the kids, but instead, just giving the kids my
        webaddress to ask their parents to check it out and then decide as a family. </p>
      <p> As time went by, I handed fliers to passers-by during the procession, and I guess many people really started
        thinking, since they saw that the kids' anxiety was for real. Tried to get people to join in the choruses in
        Kungsträdgården, so that not only the crowd around the scene would shout, but also passers-by. I tried, and I
        think, a few were touched by it, although they all looked like national football players not knowing the words
        of their own hymn. </p>
      <p> Back at the hostel now. Not sure if I'm going to book another night. </p>
    </div>
  </div>
  <div class="card-img"> <img src="./assets/img24_1125_Spottkoppen.gif"></img> <img src="./assets/img24_1215_Procession-kids.gif"></img>
    <img src="./assets/img24_1503_paperbag.gif"></img>
    <p>Spottkoppen, procession, paperbag
      <p />
  </div>
</div>