<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h3>May, 25th 19.52 fb-page, plans</h3>
    </div>
    <div class="card-text">
      <p> Got a <a href="https://www.facebook.com/HolidayStrike">fb-page</a>, please visit it, like it, follow it and
        leave a comment. </p>
      <p> Planning on printing business cards (or better, flyers in business-card size), since they are probably seen as
        advertisment and not as political message and hence feel more legitimate to hand out to passers-by anywhere,
        even in security zones. I'm not taking for granted that it actually IS legitimate. By no means do I intend to
        crap down the airport or any other place. But I guess chances for people to actually put it in their pockets
        instead of throwing it away are bigger if it matches business-style and fits in their wallets. </p>
      <p> Sent an updated letter of intent to the press.</p>
    </div>
  </div>
  <div class="card-img"> <img src="./assets/imgfb-page.gif"></img>
    <p>Fb-page
      <p />
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h3>May, 25th 12.31 Time to get some pictures on this page</h3>
    </div>
    <div class="card-text">
      <p> Came up with this diagram to visualize what's going on. Still not visualizing the point in letting go of
        something that cost you a lot, still working on that. Contacted an advertizing company to make me an offer for a
        professional graphic. Have not yet hear from the staff at Arlanda concerning my application to get permission to
        distribute flyers. </p>
      <p> Also, if you like, you may view my tickets here. I really wanted to go on the trip, I had everything planned
        and booked, AND PAID. My friend found someone else to travel with, so, the actual chair and beds are not empty,
        but I have absolutly no intention of getting any money back. I have totally refrained from the whole lot:
        experience AND financial value. </p>
      <p> The <b>name of my friend</b> is blocked out in all documents, please <b>show responsibility</b> by not trying
        to resolve it by any means. <a href="./assets/imgBekräftelse_SE50080584_Kusma__12-10-2018.pdf">Confirmation from travel
          agency</a>, <a href="./assets/imgFlybilletter Xxxx Xxxx og 	Anette Kusma.pdf">Flight tickets</a>, <a
          href="./assets/imgVoucher_SE50080584_Kusma__12-10-2018.pdf">Vouchers for accommodation, rent a car, riding tours</a>,
        <a href="./assets/imgBlue Lagoon Admission- Annette 	Kusma.pdf">Blue Lagoon admission</a>. </p>
      <p>Sincerely from the hostel at Arlanda, Annette.</p>
    </div>
  </div>
  <div class="card-img"> <img src="./assets/imgsound-sick-diagram.jpg"></img>
    <p>sound-sick
      <p />
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h3>May, 25th 10.22, at the hostel</h3>
    </div>
    <div class="card-text">
      <p> Met a school class from South England at the hostel and shared my story with their teachers. Feeling confident
        that there are a lot of people out there really ready to listen and that understand my point, that we are part
        of the solution, and we have to practice slowing down. </p>
    </div>
  </div>
  <div class="card-img"> <img src="./assets/img25_1341_headHigh.gif"></img>
    <p>head high
      <p />
  </div>
</div>