<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h3>May, 26th, 09.36: taking shape, getting response!</h3>
    </div>
    <div class="card-text">
      <p>
        <blockquote class="twitter-tweet" data-lang="sv">
          <p lang="en" dir="ltr"><a
              href="https://twitter.com/hashtag/HolidayStrike?src=hash&amp;ref_src=twsrc%5Etfw">#HolidayStrike</a> A
            friend took a hint &amp; practiced deciding independently &amp; not let convention stop him. He supported me
            by continuing my idea of tying a sock around the fence at &quot;Spottkoppen&quot; at Stockolm Central
            Station (my own and my neighbour&#39;s socks had been removed earlier) <a
              href="https://t.co/raJzvsBPfQ">pic.twitter.com/raJzvsBPfQ</a></p>&mdash; Annette Kusma (@annette_kusma) <a
            href="https://twitter.com/annette_kusma/status/1132544727931342848?ref_src=twsrc%5Etfw">26 maj 2019</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </p>
      <p> Started an album series on fb, called "Seriously?!" First out is the album: "Seriously!? - While everyone
        talks about LESS...", showing the deeds of managers trying to maximize their winnings. If you can recognize your
        own work in this: open your eyes, stop being a fellow traveller with these managers. Use your creative skills
        for something more relevant to the world's citizens. <a
          href="https://www.facebook.com/pg/HolidayStrike/photos/?tab=album&album_id=1254848554669787">Check it out on
          fb</a>! </p>
    </div>
  </div>
  <div class="card-img"> <img src="./assets/imgseriously/hateLike.jpg"></img>
    <p>Circle, castle
      <p />
  </div>
</div>