<div class="anchored, card" id="last">
  <div class="card-body">
    <div class="card-title">
      <h3>May, 27th more graphics and shopping strike</h3>
    </div>
    <div class="card-text">
      <p> Back at the jumbo stay at Arlanda. Outlining some new graphic, see picture. If you want to help me with that,
        please contact me, graphics takes time. This one is meant to be a circle with three parts: the law/government,
        citizens and corporations. The law might be visualized by a paragraph-symbol, citizens are visualized by two
        human-symbols, maybe holding hands, Corporations, or better yet: the true powerholders are symbolized by a
        mash-up of a few of the most powerful corporations' icons (note that the droid's eyes make the fruit worm-eaten,
        instead of human-eaten, I really liked that special twist). Then, the idea is that one of the humans has a
        talk-bubble with a voting card symbol, directed at the law/gvt; whereas the other human has a talkbubble with a
        dollar symbol directed at the corporation. Then, by arrows I want to symbolize that demanding laws that put
        restrictions on companies are good, but we need to demand the other direction as well by cutting our
        dollarstream to the powerholders.</p>
      <p> Also, I came up with this Shopping Strike Saturday thing. Since the idea of giving up one's already paid
        holiday is, indeed, a bit confusing, I figure I will move a lot more people to action by asking them to actually
        sit and strike in front of a shopping mall. Thunberg sits in front of the Swedish government every friday, and
        demaning laws is good. But as long as corporations only follow the law by the letter they will continue business
        as usual with their lawyers finding ways through the forest of letters. Adults like you and me must actually
        demand from companies that they start acting by the meaning of the law as well.</p>
      <p> Hence I have come to the conclusion that I will sit nearby a huge, modern shopping mall in Solna, Stockholm,
        every (other) Saturday from now on. (I work about every other or every third Saturday, but I hope other people
        will punch in). I am deeply grateful for having picked the right father for my kids, he will make this possible
        for me. Thank you, honey! </p>
      <p> The FridaysForFuture movement is historic I believe. I felt that just sympathy-striking from work is not the
        right thing to do, it is sort of counter productive and will never change our hearts towards a different view of
        what matters in life. I wanted to show that action is urgent and important and must be selfless. I have been
        working on sorting out my thoughts and points during the week. I could never have done it this focused if I
        hadn't let down my best friend. I never get things done, and grand plans usually die very quickly when I come to
        the point where I am not completly satisfied with my work. But this time, I had to publish a diary, no matter
        how bad the spelling is in some places, I had to print flyers immediately, I had to push out a facebook page and
        a home page and so on, or else I would have let down my friend for a failed project. <span
          class="friend"><b>Dear friend, I have not failed you. I have hurt you deeply, but I never failed you. Love you
            forever!</b></span> </p>
    </div>
  </div>
  <div class="card-img"> <img src="./assets/imgcircle.jpg"></img> <img src="./assets/imgcastle.jpg"></img>
    <p>Circle, castle
      <p />
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h3>May, 27th Business card</h3>
    </div>
    <div class="card-text">
      <p> Staying at the hostel tonight again. My friend will land tomorrow. Sort of during baggage claim I'll consider
        my week of holiday strike over. But the idea will live on and I'll won't rest for some time yet. </p>
      <p> Trying to get a batch of business cards today, if possible, which I like to distribute at the airport this
        evening. Haven't heard from the advertizing company I contacted for graphics, so I had to do this myself.
        Satisfied, but it took time. </p>
    </div>
    <div class="card-img"> <img src="./assets/imgbizcard-front_0-1.gif"> <img src="./assets/imgbizcard-back_0-1.gif"> </div>
  </div>
</div>