<div class="anchored, card" id="Flyer">
  <div class="card-title">
    <h3>Flyer that I had printed</h3>
  </div>
  <div class="card-text">
    <h4>Clear for take-off?</h4>
    <p> I was about to fly to Iceland with my best friend on a trip we’ve dreamed about since our highschool days.
      Passport, tickets, accomodation and expeditions, all fixed, booked and paid.</p>
    <p> Right here at the check-in counter, I choose to pass, in order to make a point. To everyone. To politicians,
      companies, fellow citizens and future generations.</p>
    <p> We live like the absolutistic rulers of the 17th century: We get anything we point at. We take anything we can
      get, without thinking. There is nothing left to treasure.</p>
    <p> We’ve got to get our feet back on the ground. Your own self is the one you can bring to action out of your own
      free will and without discussion. Stop talking. Clear for take-off!</p>
    <p> Show leaders (politicians and companies) that you (citizen) are ready to refrain. Let them understand that you
      are willing to pay a sustainable price for goods and services, even if it means consuming fewer goods and
      services. Let them know that you are willing to vote on creative solutions even if they are unpleasant. Show to
      generations to come that society is the sum of all actions that each of us chooses to take.</p>
    <p> If you can choose not to put your foot on that plane today, use this golden opportunity to experience how it
      feels to move a mountain.</p>
  </div>
</div>
<div class="card-img"> <img src="./assets/imgtemplate.jpg"></img>
  <p>Caption
    <p />
</div>
</div>