<div class="anchored, card" id="Press Info">
  <div class="card-title">
    <h3>Info that I sent to the press</h3>
  </div>
  <div class="card-text">
    <p> I'd hereby like to inform the public that I refrain from an already booked and paid vaccation, and furthermore
      that I intend to spend my already granted days of work permit at the airport of Stockholm Arlanda, challenging
      other travellers to do the same. My goal is to inspire individuals to find the courage to steer their actions
      outside conventional patterns of behaviour, a skill that is needed to make the change in society that this planet
      needs.</p>
  </div>
</div>
<div class="card-img"> <img src="./assets/imgtemplate.jpg"></img>
  <p>Caption
    <p />
</div>
</div>