<div class="anchored, card" id="Socks">
  <div class="card-title">
    <h3>May, 30th, Socks-thingy finally discarded, replaced by ShoppingStrikeSaturday</h3>
  </div>
  <div class="card-text">
    <p> Did more graphics, facebook updates, got some Twitter followers and starting to really reach out to people. No
      one yet to join me on Saturday, but this I am dead stone confident, many people will join in eventually. Here's
      one last glimpse of the Socks-idea. One friend tied a sock there, and when I went there it was removed, just like
      the two socks I tied there before. They were my own (turquoise) and my neighbor's (black) sock, and the two single
      socks I have left over I might just wear together for symbolic reasons whenever there is an activity initiated by
      me.</p>
    <h4>Socks!!</h4>
    <p> Maybe it is impossible for you to step back from your flight today. Maybe you are on your way home, not on your
      way out? Maybe it is not for you to decide whether to skip a business meeting?</p>
    <p> If you'd like to sympathize with this manifesto anyway, take one or both of your socks off and tie them on the
      others' socks to show a sign. I came up with the thought when a friend of mine suggested I sacrifice something
      less valuable than a friendship, such as a pair of socks maybe.</p>
    <p> Tie your sock at the "Spottkoppen" at Stockholm Central Station, or let me know if I should post any other place
      where you would like to start a sock-collection.</p>
  </div>
</div>
<div class="card-img"> <img src="./assets/img26_first-sock.jpg"></img>
  <p> This is actually not my sock. A friend of mine donated it there to sympathize. Thank you!
    <p />
</div>
</div>