<div class="anchored, card" id="About us">
  <div class="card-title">
    <h3>It all started witha flyer that wouldn't fly...</h3>
  </div>
  <div class="card-text">
    <p> I am currently working on spreading this campaigne. From the start on May 21st is was not very organized, but I
      have until May 28th to work on it 100% of my time, then my vacation is over and I need to get back to work. But I
      will continue to work with getting people to see their own possibilities to influence global justice and climate
      coping.</p>
    <p> With that first week being a kick-start in terms of in- and output to and from friends and strangers in real
      life and on social media, I have quickly shifted focus from striking from your holiday to striking from shopping.
      There are two reflections about this:</p>
    <p> first, it is not the only purpose that the striking person refrains from shopping, but I hope that the striking
      person will get others to join and eventually undermine the market's interest in maximizing sales.</p>
    <p> Second, every-day shopping is not the only thing where end-consumers must step out, so, the holiday-idea was not
      a bad one. The word can symbolize luxury goods and overflow of commodities in general and I definitely want to
      appeal to people's attitude in all corners of life, not just at the shopping mall.</p>
  </div>
</div>
<div class="card-img"> <img src="./assets/imgtemplate.jpg"></img>
  <p>Caption
    <p />
</div>
</div>