<div class="anchored, card" id="Fair Apps">
  <div class="card-body">
    <div class="card-title">
      <h3><span class="qa">P: </span>Apps are not for free! But they should be fair.</h3>
    </div>
    <div class="card-text">
      <p> <span class="qa">I: </span>They may seem free from cost, but they are almost certainly not free from peeping
        tom activities.</p>
      <p> I want to inform users about what they share, why it is bad to share, and to what massive amount one piece of
        data is spread around the globe by several dozen advertizing companies. </p>
      <p> More importantly, I want to call for alterntives. There are already some apps you can use to protect some of
        your privacy, but to protect the state of citizens from the curse of the resouces (a gray-ish market branch of
        digging for and monetizing user data, involving real money for data miners and fictional values of investments
        for magnats on a power trip, only that), consumers need a sufficient and effective supply of alternative
        non-datamining apps. To the cost of real money from the person qho makes use of the app to the person who has
        developed the function that the user wants. Fair app.</p>
      <p> <span class="qa">H: </span>I have made screenshots while opting out from a couple of dozens of advertizing
        engines. Even I have a hard time following my own screenshots. They need to be coocked down to some infographic
        or at least sorted and commented.</p>
      <p> Also, many examples should be documented of how the most popular apps pull data of all kinds from you or your
        kids. There are articles and stuff out there addressing the issue.</p>
      <p> The point is to draw existing insights here and fuse it with the other reflections here, their common
        denominator is: Power By People. We, the most ordinary people can stop a whole lot of nonsens on this planet.
        And also, a lot of this nonsense that is going on contributes to social inequality on the planet. Any industry
        or industrial topfloor where money is an accumulator for power contributes to global inequality. Let's use money
        as the motor it can be to make human exchange of services smooth and comparable. Fair apps!</p>
    </div>
  </div>
  <div class="card-img"> <img src="./assets/imgfair-apps.jpg"></img>
    <p>Caption
      <p />
  </div>
</div>