<div class="anchored, card" id="Fashion by cut">
  <div class="card-body">
    <div class="card-title">
      <h3><span class="qa">P: </span>Fashion by cut, not chem.</h3>
    </div>
    <div class="card-text">
      <p> <span class="qa">I: </span>Why do we make so much chemotechnical efforts to produce fabrics that keep their
        colors or washing detergants that protect the brilliance of our clothes' colors? Wouldn't it be better to make
        fashion that builds on faded colors?</p>
      <p> The fashion industry has enormous power over our will and our cravings. They put long skirts on their models -
        we want long skirts. They put short skirts on their models - we want short skirts. They put over-knee skirts on
        their models - we want over-knee skirts. They put lime green on their models - we want lime green. They put
        autumn red on their models - we want autumn red. They put neon pink on their models - we buy neon pink. In an
        aerobics class I attended in early January 2018, 59 out of 60 attendents were wearing pink, including me,
        although my shirt was two years old and probably the most grayish one in the room; person number 60 was the only
        male attendant). </p>
      <p> What happens if <b>they put pale blue on their models?</b> Or the shade of white that you get after you've
        washed your white shirt a couple of times together with dark laundry. Two things happen: people want pale
        shades, and <b>people's clothes will not change color in the laundry anymore</b>. Both are good for people.
        Numer two is not good for business magnates on a power trip or for companies that ever want to grow. But it will
        be good for companies that want to be stable. </p>
      <p> We could still buy clothes out of brilliant fabrics once every ten years or so and use these clothes when we
        go for dinner or to a wedding or the like. Maybe we will use these clothes in situations where we barely sweat,
        so we will not need to wash out their colors on a weekly basis, and so they can last for quite a few years.
        buying the lastest style should not stimulate surrounding folks to grant you any hogher level of social status;
        it should simply mean that you recently had a milestone birthday, which should be much more interesting to talk
        about than the clothes per se.</p>
      <p> <span class="qa">H: </span>You can help by... not sure yet... Making good looking fashion photos with faded
        clothes? Designing clothes that look good by their cutting and not by their chomistry?</p>
      <p> <a href="https://www.asket.com/about/">ASKET</a> seems to be on the right track, for example. </p>
      <p>
        <!--      <iframe width="220" --> <a
          href="https://www.youtube.com/embed/BqkekY5t7KY?playlist=BqkekY5t7KY&loop=1&controls=0"> The Story of
          Microfibres (Video)</a> <!--      </iframe> -->
      </p>
    </div>
  </div>
  <div class="card-img"> <img src="./assets/imgfashion-cut.jpg"></img>
    <p>Caption
      <p />
  </div>
</div>