<div class="anchored, card" id="MarketCrimes">
  <div class="card-body">
    <div class="card-title">
      <h3><span class="qa">P: </span>Market crimes</h3>
    </div>
    <div class="card-text">
      <p> <span class="qa">I: </span>Crimes of the market against humanity must be prosecuted and the criminals taken to
        court.</p>
      <p> I've made a start with my facebook photoalbum in the "Seriously!?"-series: <a
          href="https://www.facebook.com/pg/HolidayStrike/photos/?tab=album&album_id=1254848554669787">"Seriously?! -
          Whereas everyone else talks about LESS...</a> the managers behind these campaignes want MORE.</p>
      <p> <span class="qa">H: </span>You can help by... taking, editing and publishing photos. Let's document the market
        crimes of the growth-era.</p>
    </div>
  </div>
  <div class="card-img"> <img src="./assets/imgmarket-crimes.jpg"></img>
    <p>Caption
      <p />
  </div>
</div>