<div class="anchored, card" id="Water waste">
  <div class="card-body">
    <div class="card-title">
      <h3><span class="qa">P: </span>What a Water Waste!</h3>
    </div>
    <div class="card-text">
      <p> <span class="qa">I: </span>Make a short movie showing the dramativ difference between washing your hands or
        dishes the traditional way and the thoughtful way.</p>
      <p> Put a big bowl in your sink. Thoughtful way: pull your tap halfway open, wet your hands, close tap, knead
        hands in soap, open tap half way, rinse hands, close tap, dry hands. How much water in the bowl?</p>
      <p> Put the same bowl in your sink. Traditional way: be too lazy to adjust the movement of your hands to stop
        halfway but pull your tap fully open, wet your hands, be too lazy to close tap, knead hands in soap, be too
        ignorant thinking about the accoustic inconvenience for your ears or people chatting around you, rinse hands,
        still be too focused on your own precious goal instead of running water tap, dry hands, NOW close tap. How much
        water in the bowl? Did it flow over?</p>
      <p> <span class="qa">H: </span>You can help by: Making this movie. Many people don't want to read, they want to
        share stuff on You Tube.</p>
      <p> I wonder if people from contries like Peru - where you get your daily share of water by walking a mile and
        fetching a bucket full from the local well - would like to act in at the end of the movie by saying thanks or
        showing thumbs up (collage of like a hundre or so different small photos of just the up thumb?), or a collage of
        thumbs of local senior citizens who thank you for saving tax money in your community that can be better spent on
        their well being?</p>
    </div>
  </div>
  <div class="card-img"> <img src="./assets/imgwater-waste.jpg"></img>
    <p>Caption
      <p />
  </div>
</div>