<div class="anchored, card" id="About charity">
	<div class="card-body">
		<div class="card-title">
			<h3><span class="qa">Q: </span>Is it not better to give the money to charity?</h3>
		</div>
		<div class="card-text">
			<p> <span class="qa">A: </span>I've been giving a lot of money to charity over the years (and still do). This is
				not about patching a broken system with charity anymore. Someone needs to start getting to the roots of the
				problems that demand charity today. </p>
			<p> Money is at all not involved in that. Power is. Buisiness and political leaders on a powertrip are the root
				issue. Start taking the power away from these people. You won't do it by donating money to only medicate the
				wounds they cause. </p>
			<p> Besides, the money for my trip to Iceland was already paid. If you wish to donate to charity, that's great.
				But if, at the same time, you continue to pay less for more stuff, you are not solving the problem. The
				refraining-part is essential here. You can refrain from something before you pay it, and then give the
				corresponding amount of money to charity. That's fine as long as you are sure for yourself that you will not
				take another heap of your money and buy anyway what you tried to refrain from.</p>
			<p> The refraining-part IS essential. It was called fasting in the old days and had a crucial function for keeping
				society on top of hunger. So it is today, in many religions; and you may see religion as just a category of
				lifestyles if you don't consent with the spiritual aspects of it. When markets were local, every society fasted
				for their own good. Now that markets and engineering impacts are global, we need to fast for each other's good.
			</p>
		</div>
	</div>
	<div class="card-img"> <img src="./assets/img/about-charity.jpg"></img>
		<p>Caption
			<p />
	</div>
</div>