<div class="anchored, card" id="How get around?">

  <div class="card-body">

    <div class="card-title">
      <h3><span class="qa">Q: </span>How did I get around these days to the places I've been?</h3>
    </div>
  
    <div class="card-text">

      <p>
	<span class="qa">A: </span>If you must know: Bicycle, bus,
	train, and *****drum-roll***** on foot!</p>
      
    </div>

  </div>
  
  <div class="card-img">
    <img src="./assets/img/get-around.jpg"></img><p>Caption<p/>
  </div>
  
</div>
