<div class="anchored, card" id="About jobs">
  <div class="card-body">
    <div class="card-title">
      <h3><span class="qa">Q: </span>Growth means jobs in poorer countries!?</h3>
    </div>
    <div class="card-text">
      <p> <span class="qa">A: </span> Mankind has all the written texts of the world at their fingertips in a seven inch
        gadget in their pockets. And we fly to the moon! I'm totally convinced that mankind can come up with better ways
        to create jobs than to fill the planet with rubbish. My windows need painting, for example. School needs more
        teachers. We'll certainly not run out of chores. It's just a question of which chores are relevant paying for,
        as compared to chores that are just fun to pay for.</p>
    </div>
  </div>
  <div class="card-img"> <img src="./assets/img/growth-jobs.jpg"></img>
    <p>Caption
      <p />
  </div>
</div>