<div class="anchored, card" id="No climate strike?">
	<div class="card-body">
		<div class="card-title">
			<h3><span class="qa">Q: </span>If this is not a climate strike, then what is it?</h3>
		</div>
		<div class="card-text">
			<p> <span class="qa">A: </span> Facts in global or even national contexts tend to be a sallad of figures and
				graphs that everyone serves to their own liking. How could a single individual or Millions of individuals
				possibly know what is true? The layout of this planet will change, manmade or not, it doesn't really matter,
				deadly or not, it doesn't matter, it will change, because it has been changing ever since the birth of this
				planet.</p>
			<p> The current social situation on this planet will make it very hard for groups of people - based on ethical
				origin, or based on way of living (farming, tech, admin, mining, whatever) - to agree who will live where and
				with whom and in what way, if not at this point we make a sincere effort to work together and put individual
				winnings second instead of first. </p>
			<p> Hence, <b>no, this is not a climate manifesto</b>. It is en exercise for peaceful living. </p>
		</div>
	</div>
	<div class="card-img"> <img src="./assets/img/no-climate-strike.jpg"></img>
		<p>Caption
			<p />
	</div>
</div>