<div class="anchored, card" id="No meat?">
	<div class="card-body">
		<div class="card-title">
			<h3><span class="qa">Q: </span>Are you saying we shouldn't fly or eat meat anymore?</h3>
		</div>
		<div class="card-text">
			<p> <span class="qa">A: </span>The critical aspect lies in "anymore". I don't believe in forbidding airtraffic or
				meat consumption. I just hope that people will value it a little more and use it with responsibility. When we
				went by horse and waggon, it was tedious to move around. Railways have made it A LOT easier and faster and cars
				have filled in the gap for those that need a last mile solution or whose route simply is not covered by railway.
			</p>
			<p> These means of traffic have made it possible to get medical care, higher education, a job to support you,
				things that were impossible for the lot during the horse-and-waggon-era, and the lack of whose also kept many
				people imprisoned in poverty. Aeroplanes don't contribute anything to these crucial opportunities, they are just
				taking this to a level of excess. Why shouldn't flying to Thailand be a luxury worth paying and waiting for,
				something that not everyone will do in their lives? Why do we treat it as a human right to see such a far off
				place not once but several times in our lives? Why do we treat it as a human right to spend our
				do-nothing-just-relax-time at a sandy beach far off instead of at a grassy beach nearby?</p>
			<p> Do your descendants a favour and think twice about these things. And don't throw this at me, as though it were
				an argument: "So you want our living standard to decrease??" Throw it right back at yourself, because this is
				exactly what we need to do.</p>
		</div>
	</div>
	<div class="card-img"> <img src="./assets/img/no-meat.jpg"></img>
		<p>Caption
			<p />
	</div>
</div>