<div class="anchored, card" id="Why holiday strike?">
	<div class="card-body">
		<div class="card-title">
			<h3><span class="qa">Q: </span>How and why does one holiday strike?</h3>
		</div>
		<div class="card-text">
			<p> <span class="qa">A: </span>You let go of your holiday or some other thing that is valuable yet not essentioal
				to your survival. The goal is to practice to not only in words but also in deeds question the standard of living
				that we have. To show you this possibility and to pinpoint how urgent this is, I give up my holiday experience
				(Iceland), the money it cost me, the time (since I spend my days of work permit working on this campaigne).
				Personally I give up even one more thing which, however, not should be subject to discussion other than between
				me and the one it concerns. In total, it's a high price, but nothing less could express the urgency to start
				immediately and to start in a stunning huge scale. </p>
			<p> Man strejkar från sin semestertid eller ger upp något annat som är värdefullt men inte livsviktigt för att öva
				på att inte bara i ord utan även i handlingt ifrågasätta den levnadsstandard vi har. För att visa möjligheten
				och hur angeläget det är så ger jag upp både min semesterupplevelse (Island), de pengar den kostat, och tiden
				(eftersom jag lägger tiden på att torgföra nödvändigheten av en sådan övning). Jag ger även upp en fjärde sak
				som jag dock inte vill diskutera här utan bara med den det berör, men de flesta förstår nog vad det är. Summa
				summarum, det är ett högt pris, men inget mindre kan uttrycka hur angeläget det är att börja genast och att
				börja i en överrumplande stor skala. </p>
		</div>
	</div>
	<div class="card-img"> <img src="./assets/img/why-holiday-strike.jpg"></img>
		<p>Caption
			<p />
	</div>
</div>