<div class="anchored, card" id="Blue">
  <!-- TODO: this needs to be updated with bootstrap-classes      for hiding and showing stuff -->
  <div class="card-title">
    <h3>Greta should go to school!</h3>
  </div>
  <div class="card-text">
    <div class="slogan">
      <p class="major">Did you and your teenager have that talk yet?</p>
      <p class="minor">... about the consequences of taking so much good stuff for granted? Or is it your teenager that
        needs to have that talk with you?</p>
    </div>
    <div class="slogan">
      <p class="major">The demand originates from YOU!</p>
      <p class="minor">Adjust your demand to the laws you call for.</p>
    </div>
    <div class="slogan">
      <p class="major">Change the Game of More!</p>
      <p class="minor">Make it the Game of Common Good!</p>
    </div>
  </div>
</div>
<div class="card-img"> <img src="./assets/imgtemplate.jpg"></img>
  <p>Caption
    <p />
</div>
</div>