<div class="anchored, card" id="Green">
  <!-- TODO: this needs to be updated with bootstrap-classes      for hiding and showing stuff -->
  <div class="card-title">
    <h3>This is about life or death!</h3>
  </div>
  <div class="card-text">
    <div class="slogan">
      <p class="major">We have to aim at saving the universe...</p>
      <p class="minor">...then we might just save the tree tops.</p>
    </div>
    <div class="slogan">
      <p class="major">The demand originates from YOU!</p>
      <p class="minor">Adjust your demand to the laws you call for.</p>
    </div>
    <div class="slogan">
      <p class="major">First out - last in!</p>
      <p class="minor">Run out of space? You don't need to expand your closet or toy store or road net or airport or
        whatever. Get rid of some of the stuff first, THEN there is space to move around again, or even to take in new
        items.</p>
    </div>
  </div>
</div>
<div class="card-img"> <img src="./assets/imgtemplate.jpg"></img>
  <p>Caption
    <p />
</div>
</div>