<div class="anchored, card" id="Red">
  <!-- TODO: this needs to be updated with bootstrap-classes      for hiding and showing stuff -->
  <div class="card-title">
    <h3>We must take our responsibility!</h3>
  </div>
  <div class="card-text">
    <div class="slogan">
      <p class="major">Are you waiting for ME to make a start?</p>
      <p class="minor">Well, newsflash: I HAVE started! C'mon, catch up!</p>
    </div>
    <div class="slogan">
      <p class="major">We have 8000 years of written history.</p>
      <p class="minor">Stop tinkering with PBL (problem based learning)!</p>
    </div>
    <div class="slogan">
      <p class="major">The Bible says: Reshape your wealth accumulating AI...</p>
      <p class="minor">...into learning-from-history-tools.</p>
    </div>
    <div class="slogan">
      <p class="major">The demand originates from YOU!</p>
      <p class="minor">Adjust your demand to the laws you call for.</p>
    </div>
    <div class="slogan">
      <p class="major">First out - last in!</p>
      <p class="minor">Run out of space? You don't need to expand your closet or toy store or road net or airport or
        whatever. Get rid of some of the stuff first, THEN there is space to move around again, or even to take in new
        items.</p>
    </div>
  </div>
</div>
<div class="card-img"> <img src="./assets/imgtemplate.jpg"></img>
  <p>Caption
    <p />
</div>
</div>