<div class="anchored, card" id="Background">
  <div class="card-title">
    <h3>Background</h3>
  </div>
  <div class="card-text">
    <p> Followers of Thunberg's school strike initiative sit in front of the Swedish Parliament from 8 am to 3 pm every
      Friday and call for political leaders to <b>implement laws that are good for the future</b>. </p>
    <p> As adults it is <b>our duty to support our children</b> with the decisions they make for their future. Support
      means lending them a hand where they are not yet fit to do it all by them selves. Support means also enhancing
      their talents with advice. </p>
  </div>
</div>
<div class="card-img"> <img src="./assets/imgtemplate.jpg"></img>
  <p>Caption
    <p />
</div>
</div>
<div class="anchored, card" id="Solution">
  <div class="card-title">
    <h3>Solution</h3>
  </div>
  <div class="card-text">
    <p> <b>My advice is</b>: turn the game around, do not solely demand letters of law from the government, but do
      demand action alongside the meaning of laws by corporations. <b>My physical help is</b> joining the strike
      movement and extending it to stare corporations and their clueless victims in the eye.</p>
    <p> Hence I have decided to sit outside an obscenly huge shopping mall in Solna, Stockholm, from 11 am to 6 pm every
      Saturday from now on and call for corporations to act <b>not only by the letter</b> of a good law, but <b>also by
        the meaning</b> of it.</p>
    <p> I hereby invite all shoppers and non-shoppers to join me (and punch in during those Saturdays that I actually
      have to be at work). Do it in your hometown or at some other shopping-places in Stockholm.</p>
  </div>
</div>
<div class="card-img"> <img src="./assets/imgtemplate.jpg"></img>
  <p>Caption
    <p />
</div>
</div>
<div class="anchored, card" id="First">
  <div class="card-title">
    <h3>Solution</h3>
  </div>
  <div class="card-text">
    <p> <span class="qa">1st: </span>Yesterday, 1st of June 2019, I was at the bridge Målbron which runs between the
      Solna Commuter Rail station and an area with an enormously huge shopping mall. The shopping mall is only a few
      years old. I wonder wether anyone seriously believed that there are too few places for shopping in the city of
      Stockholm. </p>
    <p> Anyway, some trade mogul felt sorry about those poor people in the Mälardal-region who had nowhere else to shop,
      so he hired low cost immigrant work force to stomp up that mall in an astonishing no time at all. The area was
      formerly reserved for extending the nearby railway shunting depot. Well, railway has to shunt somewhere else then.
    </p>
    <p> The temples and churches from long gone (?) centuries were decorated in gold and marble as to make clear who is
      in charge. The god we believe in these days (don't try to tell me that Sweden is secularized) is called economic
      growth and its high priests sure know how to use cheap labour to build magnificent brainwashing temples.</p>
    <p> Anyway, I had a good day yesterday. I came at 11, took a break at 1, 3 and 5. Wanted to stay til 8 but I was
      really tired so I went back to the central station at around 6.30 i believe. I was tired becaus I wasn't just
      sitting around, it wasn't a sit strike. I stood up, constantly calling the news to passers-by: "Thunberg is
      fighting real hard to get laws in place. We are the ones that can make companies earn better by no longer going
      around those laws." In a nut shell. </p>
    <p> Some people stopped and talked for a while, some stone faced me, some took my flyer the second time they passed
      by, two teen aged boys took my flyer, and after five meters tore it up and threw it right up in the air, so I had
      to pick up the pieces and dispose of them (properly). Call me crazy but I kind of get new energy from that... </p>
    <p> Some people walked by hastily commenting: 'Yeah, I'm fully on Greta's side.', some took the flyer, and said
      something similar as they quickly moved on. I guess many of those are the ones that think being on Greta's side is
      making them part of those who 'save the earth'. They will have to understand that it is not enough to think
      outside the box, but everyone has to act outside the box as well.</p>
    <p> I was mostly buffeled over the fact that quite a few people whom I wanted to explain to what I fight for, did
      not know about Greta Thunberg and the school strikes. Well, Nobel Prize nominees, guess you can't keep track of
      them all... </p>
    <p> Talked to some last kids in the commuter train while going back to the station (they, like a few others during
      the day, were comming up to me to ask what game I want to change, hence that banner is quite a magnet for young
      people). Looking forward to next Saturday (though I have to talk to my scheduler first.... )</p>
    <p> So I'll soon update the <a href="https://www.facebook.com/events/2154934384541949/">event page on fb</a> to make
      it recurrent. I'm not sure if I'll be able to strike every Saturday from 11-20, but I sincerely hope to get other
      people to join in soon. And just to make this clear: I don't intend to strike from my job, that's not
      constructive. I strike from consumerism and try to get as many with me as possible to collectively display our
      disgust of consumerism to those who still haven't gotten the message.</p>
    <p> The 'refraining form shopping'-part, you do constantly, but the "gather a mob on Saturday"-part is to make the
      speech bubble big enough for everyone to get the message. Adults won't be able to strike from their work on
      fridays, that's why I chose Saturday.</p>
  </div>
</div>
<div class="card-img">
  <p>Like Annie Leonard says in the <a href="http://storyofstuff.org/movies/story-of-stuff">Story of Stuff</a> movie:
    'Hey, we're not gonna SHOP our way out of this!'</p> <a href="./assets/imgchange-game.jpg"><img
      src="./assets/imgchange-game.jpg"></img></a>
  <p>"I decided to take a stand, not knowing if I'd lose my best friend." - John P. Kee.</p>
  <p>"Here I stand and can do no other." - Martin Luther.</p>
  <p>"I knew someone had to take the first step, and I made up my mind not to move." - Rosa Parks.</p> <img
    src="./assets/imgmallFront.jpg"></img>
</div>
</div>
<div class="anchored card" id="problem">
  <div class="card-body">
    <div class="card-title">
      <h3><span class="qa">Problem: </span>Will it be enough to pass laws that are good for the future? - No.</h3>
      <p> And this is why everyone shold shopping strike! Thanks StoryOfStuff Project, you are doing a heck lot of good
        work! Those fed up with this kind of message: start at any one of these important points. </p> <iframe
        width="220" src="https://www.youtube.com/embed/9GorqroigqM?t=203?playlist=9GorqroigqM&loop=1&controls=0">
      </iframe>
      <ul>
        <li>3.23 Even where WE live</li>
        <li>3.54 Our stuff on somebody else's land?</li>
        <li>4.54 Toxics in - toxics out!</li>
        <li>6.42 Reproductive age</li>
        <li>7.36 Toxics distribution</li>
        <li>8.35 Externalizing costs</li>
        <li>9.56 Other ppl pitched in for the golden arrow</li>
        <li>11.01 One percent</li>
        <li>11.32 It didn't just happen!</li>
        <li>12.30 How did they make us?</li>
        <li>14.34 Women's health is the point of ads?</li>
        <li>16.46 Who deals with disposal?</li>
        <li>18.06 What's missing in recycling?</li>
        <li>19.02 Points of intervention</li>
        <li>20.06 Local economies unrealistic?</li>
      </ul>
    </div>
  </div>
</div>