<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
  <link rel="icon" href="./assets/favicon.ico" type="image/x-icon">
  <title>HolidayStrike</title>
</head>

<body>
  <head>
    <div class="banner">
      <h1><a href="http://www.holidaystrike.eu">HolidayStrike</a></h1>
    </div>

    <nav>
      {{> ./generated/navigation_links}}
    </nav>

    <div class="docs">
      <h6>Albums:</h6>
      <a href="http://www.holidaystrike.eu/img/seriously/more/">Temptation</a>
      <h6>Manifesto:</h6>
      <a href="http://www.holidaystrike.eu/notes/manifesto_SE.txt">SE</a>
      <a href="http://www.holidaystrike.eu/notes/manifesto_EN.txt">EN</a>
      <a href="http://www.holidaystrike.eu/notes/manifesto_DE.txt">DE</a>
    </div>
  </head>

  <main>
    <div id="sub-navigation">
      <!-- generated content goes here, main.js + $(.bodyanchor) -->
    </div>

    <div id="body-content">

    </div>
  </main>

  <footer>
    <h4 class="frame footer">This is the frame-footer</h4>
    <a class="frame nav link social" href="https://www.facebook.com/HolidayStrike"> Visit fb </a>
    <a class="frame nav link social" href="https://twitter.com/HoliStrike"> @HoliStrike </a>
    <a class="frame nav link social" href="https://www.instagram.com/holidaystrikeinsta/"> HoliStrikeInsta </a>
    <a class="frame nav link mail" href="mailto:info@holidaystrike.eu"> e-mail info </a>
  </footer>

  <script src="./assets/js/jquery-3.4.1.min.js"></script>
  <script src="./assets/js/popper.min.js"></script>
  <script src="./assets/js/bootstrap.min.js"></script>
  <script src="./assets/js/main.js"></script>
</body>

</html>